/* =========== Reset and Base =========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: lightblue;
    color: black;
    line-height: 1.6;
    padding: 2rem;
}




